<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:fragment="titulo">Burger DAW</title>
</head>
<body>
  <div th:fragment="cabecera">
    <h1 style="text-align: center">Burger DAW</h1>
  </div>
 
  <nav th:fragment="menu">
    <ul style="list-style-type: none; display:flex; gap:1em; background: lightgray">
      <li><a href="/">Inicio</a></li>
      <li><a href="/hamburguesa/">Hamburguesas</a></li>
      <li><a href="/pan/">Panes</a></li>
      <li><a href="/ingrediente/">Ingredientes</a></li>
    </ul>
  </nav>

  <h2>Inicio</h2>
  ¡Bienvenido/a a Burger DAW!
</body>
</html>