<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:replace="~{base :: titulo}">Título de la página</title>
</head>
<body>
  <div th:replace="~{base :: cabecera}">Cabecera</div>

  <div th:replace="~{base :: menu}">Menú de opciones</div>

  <h2>Panes | Ver</h2>

  <div th:object="${pan}" style="border: 1px solid black; padding: 1em">
    <p><span style="font-weight: bold">Id: </span><span th:text="*{id}">1</span></p>
    <p><span style="font-weight: bold">Descripción: </span><span th:text="*{descripcion}">Sésamo</span></p>
    <p><span style="font-weight: bold">Gluten: </span><span th:text="*{gluten}">Sí</span></p>
  </div>

  <div style="margin: 1em">
    <a th:href="@{.}">Regresar</a>
  </div>
</body>
</html>